<div id="main2" class="main">
    <div class="container">
        <div class="row col-12">
            <div class="col-sm-3">
                <ul>
                    <li>Home</li>
                    <li>Empresa</li>
                    <li>Área de Atuação</li>
                    <li>Serviços</li>
                    <li>Clientes e Parceiros</li>
                    <li>Fale Conosco</li>
                </ul>
            </div>
            <div class="col-sm-3"></div>
            <div class="col-sm-3"></div>
            <div class="col-sm-3"></div>
        </div>
    </div>
</div>