<!-- Fixed navbar -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-light ">
    <div id="menu">
        <a class="navbar-brand" href="#">
            <img id="logo" src="assets/logoInterclearence.PNG">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Alternar de navegação">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                          Início </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                          Empresa
                        </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#">
                          Serviços
                        </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link " href="#">
                         Contato
                        </a>
                </li>


            </ul>

        </div>
        <img id="btn-pt" src="http://qualitysound.com.br/~quali690/interexpress/assets/BT-PT.png">
    </div>
</nav>