<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-light ">
        <div id="menu">
            <a class="navbar-brand" href="#">
                <img id="logo" src="../assets/logoInterclearence.PNG">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Alternar de navegação">
        <span class="navbar-toggler-icon"></span>
      </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                      Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                      Empresa
                    </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#">
                      Área de Atuação
                    </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#">
                      Serviços
                    </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#">
                     Clientes e Parceiros
                    </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#">
                      Fale Conosco
                    </a>
                        <li class="nav-item">
                            <a class="nav-link " href="#">
                      Fale Conosco
                    </a>
                        </li>
                        <li>
                            <div class="dropdown-divider"></div>
                        </li>
                </ul>

            </div>
        </div>
    </nav>

</header>
<main role="main">

    <div class="container" id="container1">

        <div class="row" id>
            <div class="col-md-6">
                <h1>
                    O novo caminho a seguir
                </h1>

                <h3> Seu negócio está evoluindo. Não deveria seu despachante de carga?</h3>
                <h4>Diga adeus à caixa preta de agenciamento de carga. Somente o Flexport oferece visibilidade e controle profundos, custos de cadeia de suprimentos baixos e previsíveis, com tempos de trânsito mais rápidos e confiáveis. Tudo a partir de uma
                    plataforma de tecnologia poderosa.</h4>

                <a class="btn btn-primary btn-lg" href="#" role="button">
+ Saiba Mais
                    </a>
            </div>
        </div>
    </div>
</main>