<div id="main1" class="main">

    <div class="container" id="container1">
        <article class="all-browsers">
            <h1>
                Cras in arcu nulla
            </h1>
            <article class="browser">
                <h2>Etiam congue feugiat dolor, at condimentum risus imperdiet vel</h2>
                <h3>Suspendisse sit amet auctor diam, non cursus magna. Proin viverra congue lobortis. Maecenas eleifend erat a tellus placerat sollicitudin. Suspendisse tempor nibh in felis laoreet, ac placerat est tincidunt. Ut nec leo euismod, mollis arcu
                    rhoncus, porttitor dui. Phasellus feugiat lacus libero, quis sodales neque feugiat sit amet. </h3>

                <a class="btn btn-primary btn-lg btn-laranja" href="#" role="button">
                        + Saiba Mais
                                            </a>

            </article>

        </article>
    </div>

</div>


<div id="main0" class="main">
    <div class=" container container450">
        <div class="row">
            <div class="col-sm">
                <h3>Donec aliquam</h3>
                <p>In tincidunt purus ut fermentum luctus. Duis sit amet laoreet dui. Cras et pellentesque est, congue vehicula diam. Nulla pretium gravida enim sit amet maximus.Suspendisse eu lobortis lectus. Nullam vehicula nunc vel pretium rhoncus. Aenean
                    sed sapien bibendum metus volutpat rhoncus at eget purus.</p>
            </div>
            <div class="col-sm">
                <h3>Lorem ipsum dolor</h3>
                <p>Cras convallis ligula vel rhoncus ullamcorper. Phasellus facilisis ex id erat lobortis, in facilisis tellus pulvinar. Phasellus tincidunt lobortis pulvinar.Suspendisse eu lobortis lectus. Nullam vehicula nunc vel pretium rhoncus. Aenean
                    sed sapien bibendum metus volutpat rhoncus at eget purus.</p>
            </div>
            <div class="col-sm">
                <h3>Cras convallis ligula</h3>
                <p>Suspendisse sit amet auctor diam, non cursus magna. Proin viverra congue lobortis. Maecenas eleifend erat a tellus placerat sollicitudin. Suspendisse tempor nibh in felis laoreet, ac placerat est tincidunt.Suspendisse eu lobortis lectus.
                    Nullam vehicula nunc vel pretium rhoncus. Aenean sed sapien bibendum metus volutpat rhoncus at eget purus.</p>
            </div>
        </div>
    </div>
</div>


<div id="main2" class="main">
    <div class="container ">
        <div class="row col-12">
            <div class="col-sm-2"></div>
            <div class="col-sm-4"><img src="assets/navio1.jpg" style="width:400px; float:right"> </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
                <h3 class="h_semMargin">In tincidunt purus ut fermentum luctus.</h3>
                <p> Duis sit amet laoreet dui. Cras et pellentesque est, congue vehicula diam. Nulla pretium gravida enim sit amet maximus. Proin et libero vel felis pellentesque ultrices vel sed ante.</p>
            </div>

        </div>
    </div>
</div>